body{
    background-color:   #39322b;
    margin: 0;
    font-family: "Courier New", Courier, monospace;
  font-weight: 400;
  color:  black;
margin: 0
}
*{
    box-sizing: border-box;
}
a{
    color: black;
}
a:hover{
    padding: 7px 16px;
    color: #333;
    font-weight: 800;
    cursor:pointer;
    transition: all 0.2s ease ;
    
}

header{

    font-family: Copperplate, Papyrus, fantasy;
    font-weight: bold;
    height: 101px; 
    z-index: 10;
    position: relative;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%),0 2px 2px
}
.header-container{
    max-width: 1440px;
    margin: 0 auto;
    background-color: white;
    height: 100%;
    display:flex;
    justify-content: space-between;


}
.logo{
    height: 95px;
    width: 95px;
}
.logo img{
    height:100%;
}
.find-store img{
    height: 78px;
    width: 78px;
    height: 100%;
    display: flex;
    margin-right: -0.4cm;
}
.left-nav{
    display: flex;
    height: 100%;
    align-items: center;
    cursor: pointer;
}
.left-nav nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.left-nav nav ul li{
    text-transform: uppercase ;
    padding-left: 24px;
    font-weight: 700;
    letter-spacing: 0.lem;
}

.left-nav nav ul li:hover{
    font-weight: bolder;
    transition: all .2s ease;
    color:    #cd6727;
}
.right-nav{
    display: flex;
    align-items: center;
}
.find-store{
    display:flex;
    align-items: center;
    margin-right: 40px;
    font-weight: 600;
    display:flex;
    align-items: center;
}
.find-store i{
    padding-right: 8px;
    font-size: 24px;
}
.find-store:hover{
    transition: all .2s ease;
    color: #cd6727;
    cursor: pointer;
}

.sign-in, .join-now{
    padding: 7px 16px;
    border: 1px solid;
    border-radius: 50px;
    font-weight: 600;
    line-height: 1.2;
    cursor: pointer;
}
.sign-in{
    margin-right: 16px;
}
.sign-in:hover {
    transition: all .2s ease;
background-color: rgba(0,0,0,.06);
transition: all .2s ease;
}

.join-now{
    background-color: #39322b;;
    color: white;
    transition: all .2s ease;

}
.join-now:hover{
    background-color:  #3d3434;
    border-color : #382d2d ;
    
}
