
.footer-container{
    background-image: url(https://i.pinimg.com/originals/d0/df/5f/d0df5f8ca14833483ba7f2e68f0e2034.jpg);
    background-size: 100%;
    
  padding: 0 40px;
    display: flex;
   
    margin: 0 auto;
}
.footer-container .links-container h3{
    color: black;
    font-weight: 700;

}


.footer-container u1{
    font-weight: 400;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-container u1 li{
    color:  #e4ded4;
    padding-bottom: .8rem;
    margin-bottom: .8rem;
    cursor: pointer;
}
.footer-container u1 li:hover {
    color: #b95c23;
}
.links-container{
    width: 190px;
    margin-right: 50px;
  

}

footer h3{
    
    font-weight: 400;
    margin-bottom: 24px;
}
.footer-container .links-container a{
   
    display: flex;
    height: 54px;
    width: 54px;
}